# MOVIE RECOMMENDATION SYSTEM

Author: Petar Damyanov Student

### 1.    INTRODUCTION

https://www.netguru.com/blog/product-recommendation-machine-learning

#### 1.3 Common Challenges when Building Product Recommendation Systems
Product recommendation systems face certain challenges in their deployment in order to be effective.

##### Cold Start
There are two distinct categories of the cold start problem – product cold start, and user cold start. The user cold start problem pertains to the fact that when new users enter a website or app for the first time, the system has no information about them or their preferences, and so fails to recommend anything. Similarly, new products have no reviews, likes, clicks, or other successes among users, so no recommendations can be made.

##### Data Sparsity
This problem arises from the fact that users will typically rate only a limited number of the available items – especially when the catalogue is very large. This results in a sparse user-item rating matrix with insufficient data for identifying similar users or items. Combining collaborative filtering with Naïve Bayes is the solution to this problem.

##### Accuracy
Recommendation accuracy is measured by the product recommendation system’s ability to correctly predict the item preferences of each user. Hybrid recommendation systems with a Bayesian network model that contains user nodes, item nodes and feature nodes to combine collaborative filtering with ontent-based filtering result in better recommendation quality. Systems that make recommendations by both comparing the habits of similar users collaborative filtering as well as by offering products that share characteristics with other products the user has rated highly ontent-based filtering usually achieve the most accurate results.

### 2. RESEARCH OBJECTIVE

### 3.  RELATED WORK

### 4.  RECOMMENDATION SYSTEMS

###### IMPORTS

In [3]:
import pandas as pd
import numpy as np

Get data form kaggle dataset - [MovieLens](https://www.kaggle.com/grouplens/movielens-20m-dataset?select=tag.csv)

In [1]:
movieLenMovies = pd.read_csv("data/movielens/movie.csv")
movieLenRating = pd.read_csv("data/movielens/rating.csv")

NameError: name 'pd' is not defined

In [5]:
movieLenMovies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movieLenRating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [7]:
movie_len_data = movie_lenRating.merge(movieLenMovies, on='movieId')
movie_len_data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,5,2,3.0,1996-12-25 15:26:09,Jumanji (1995),Adventure|Children|Fantasy
2,13,2,3.0,1996-11-27 08:19:02,Jumanji (1995),Adventure|Children|Fantasy
3,29,2,3.0,1996-06-23 20:36:14,Jumanji (1995),Adventure|Children|Fantasy
4,34,2,3.0,1996-10-28 13:29:44,Jumanji (1995),Adventure|Children|Fantasy

Now let's check our data.

In [9]:
len(movie_len_data.title.unique())

26729

I suppose that a part of all films are frequently reviewed, because they are popular and others are rarely reviewed.

In [10]:
movie_rating_count = []
for movie_title in 

len(movie_len_data[movie_len_data.title == "Jumanji (1995)"])

<bound method DataFrame.count of        userId  movieId  rating            timestamp           title  \
0           1        2     3.5  2005-04-02 23:53:47  Jumanji (1995)
1           5        2     3.0  1996-12-25 15:26:09  Jumanji (1995)
2          13        2     3.0  1996-11-27 08:19:02  Jumanji (1995)
3          29        2     3.0  1996-06-23 20:36:14  Jumanji (1995)
4          34        2     3.0  1996-10-28 13:29:44  Jumanji (1995)
...       ...      ...     ...                  ...             ...
22238  138474        2     4.0  2000-08-16 05:50:40  Jumanji (1995)
22239  138483        2     3.0  1996-06-03 19:51:25  Jumanji (1995)
22240  138484        2     3.0  1996-06-30 17:08:31  Jumanji (1995)
22241  138488        2     3.0  1996-06-21 19:55:24  Jumanji (1995)
22242  138493        2     4.0  2009-11-16 16:54:11  Jumanji (1995)

                           genres
0      Adventure|Children|Fantasy
1      Adventure|Children|Fantasy
2      Adventure|Children|Fantasy
3      Adventure|Children|Fantasy
4      Adventure|Children|Fantasy
...                           ...
22238  Adventure|Children|Fantasy
22239  Adventure|Children|Fantasy
22240  Adventure|Children|Fantasy
22241  Adventure|Children|Fantasy
22242  Adventure|Children|Fantasy

[22243 rows x 6 columns]>

### 5. lIMITATIONS AND FUTURE WORK

### 6. CONCLUSION

### REFERENCES

DataSet Netflix Movie Ratings : https://www.kaggle.com/rishitjavia/netflix-movie-rating-dataset

DataSet Mo: https://www.kaggle.com/grouplens/movielens-20m-dataset

Recommender Systems Machine Learning | Andrew Ng:

https://www.youtube.com/watch?v=giIXNoiqO_U&list=PLLssT5z_DsK-h9vYZkQkYNWcItqhlRJLN&index=96

Comprehensive Guide to build a Recommendation Engine:

https://www.analyticsvidhya.com/blog/2018/06/comprehensive-guide-recommendation-engine-python/

https://www.analyticsvidhya.com/blog/2018/06/comprehensive-guide-recommendation-engine-python/

Recommendation Engine Using Cosine Similarity in R:

https://www.kaggle.com/erickdcohen/recommendation-engine-using-cosine-similarity-in-r

https://arxiv.org/pdf/2111.12202.pdf

http://infolab.stanford.edu/~ullman/mmds/ch9.pdf